<div class="col-lg-10 my-4 followers">
	<h2>Followers</h2>
	<ul class="list-unstyled d-flex flex-row flex-wrap justify-content-center">
	<% for(var i=0; i<profile.followers.length; i++) {%>
		<li class="justify-content-between d-flex flex-column align-items-center mt-3 mx-1 mx-md-3 following-item">
			<div class="px-3 py-3 text-center blur-background border border-secondary">
				<img class="img-fluid rounded-circle user-thumbnail" src="<%= profile.followers[i].picLink%>">
				<a class="d-block" href="/profile/user/<%= profile.followers[i]._id%>"><%= profile.followers[i].userName%></a>
			</div>
		</li>
	<% } %>
	<% if (profile.followers.length === 0) { %>
		<p>Hmm, there don't seem to be any followers yet</p>
	<% } %>
	</ul>
</div>  
</div>