<div class="col-lg-10">
	<h2>Following</h2>
	<ul class="row list-unstyled">
	<% for(var i=0; i<profile.following.length; i++) {%>
		<li class="col-3 justify-content-between mt-5 d-flex flex-column align-items-center">
			<img class="img-fluid rounded-circle" src="<%= profile.following[i].picLink%>">
			<a href="/profile/<%= profile.following[i]._id%>"><%= profile.following[i].userName%></a>
		</li>
	<% } %>
	<% if (profile.following.length === 0) { %>
		<p>Hmm, <%= profile.userName%> doesn't seem to be following anyone yet</p>
	<% } %>
	</ul>
	<div class="row justify-content-center mt-5">
		<a class="btn btn-primary" href="/">Return to Feed</a>
	</div>  
</div>  
</div>