<nav class="col-2">
    <p>Insta-Gamer</p>
    <li class="d-flex flex-column">
        <a href="#">Home</a>
        <a href="/">Explore</a>
        <a href="/profile/">Profile</a>
        <a href="#">Following</a>
        <a href="#">Settings</a>
        <%if(user){ %>
            <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/account">Log In</a>
        <% } %>

    </li>
</nav>