<nav class="col-2 fixed-top mt-5">
    <p>Insta-Gamer</p>
    <ul class="d-flex flex-column list-unstyled">

        <%if(user){ %>
            <li><a href="/feed">My Feed</a></li>
            <li><a href="/">Explore</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/profile/settings">Settings</a></li>
            <li><a href="/logout">Log Out</a></li>
        <% } else { %>
            <li><a href="/">Explore</a></li>
            <li><a href="/login">Log In</a></li>
        <% } %>

    </ul>
</nav>