/* background and overall style */
body {
    
    background-image: url('/imgs/8bit_wallpaper18.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 90%;

    color: white;
}

/* image handling */
.profile-details img {
    aspect-ratio: 1;
    object-fit: cover;
    padding-inline: 0;
}

.commentContainer img {
    width: 3rem;
}

.user-thumbnail {
    object-fit: cover;
    aspect-ratio: 1;
}

.feed-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
}

/* styling */

.commentContainer h2:after {
    content: '';
    background: white;
    width: 100%;
    height: 1px;
    display: block;
    opacity: .2;
    margin-top: .5rem;
}

.opContent:after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 50%;
    margin: 0 auto;
}

/* layout */
.content > *{
    margin-inline: auto;
}

.commentContainer {

    
    background-color: rgba(0, 0, 0, .95);
    backdrop-filter: blur(2px);
}
