/* layout */

.profile-details {

}

.profile-details img {
    aspect-ratio: 1;
    object-fit: cover;
    padding-inline: 0;
}

.content > *{
    margin-inline: auto;
}

.commentContainer img {
    width: 3rem;
    aspect-ratio: 1;
}

.commentContainer h2:after {
    content: '';
    background: black;
    width: 100%;
    height: 1px;
    display: block;
    opacity: .2;
}